In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE

In [2]:
rating = pd.read_csv('data/ratings.csv', error_bad_lines=False, encoding='latin-1')

In [3]:
movie = pd.read_csv("data/movies.csv", error_bad_lines=False, encoding='latin-1')

In [4]:
movie_rating = pd.merge(rating, movie, on = 'movieId')

In [5]:
cols = ['timestamp']

In [6]:
movie_rating.drop(cols, axis=1, inplace=True)

In [7]:
numrate_movie = movie_rating.groupby("title")["rating"].count().reset_index()

In [8]:
numrate_movie.rename({"rating": "ratecount_movie"}, axis=1, inplace=True)

In [9]:
numrate_movie = numrate_movie.query("ratecount_movie >= 20")

In [10]:
ratings20plus = pd.merge(numrate_movie, movie_rating, on = 'title', how = 'inner')

In [11]:
numrate_user = ratings20plus.groupby("userId")["rating"].count().reset_index()

In [12]:
numrate_user.rename({"rating": "ratecount_user"}, axis=1, inplace=True)

In [13]:
numrate_user = numrate_user.query("ratecount_user >= 20")

In [14]:
ur20plus = pd.merge(ratings20plus, numrate_user, on = "userId", how = "inner")

In [15]:
ur20plus = ur20plus.append(pd.DataFrame([["A.I. Artificial Intelligence (2001)",1,9999999,4370,5,"genre",1]], columns =ur20plus.columns), ignore_index=True)

In [16]:
scaler = MinMaxScaler()
ur20plus['rating'] = ur20plus['rating'].values.astype(float)
rating_scaled = pd.DataFrame(scaler.fit_transform(ur20plus['rating'].values.reshape(-1,1)))
ur20plus['rating'] = rating_scaled

In [17]:
ur20plus = ur20plus.drop_duplicates(['userId', 'title'])
user_movie_matrix = ur20plus.pivot(index='userId', columns='title', values='rating')
user_movie_matrix.fillna(0, inplace=True)

In [18]:
user_movie_matrix.head()

title,(500) Days of Summer (2009),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),13 Going on 30 (2004),"13th Warrior, The (1999)",1408 (2007),2001: A Space Odyssey (1968),2012 (2009),...,Young Frankenstein (1974),Young Guns (1988),Zack and Miri Make a Porno (2008),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),Â¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.777778,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.777778
2,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.555556,0.0,0.0,0.0,0.0,0.000000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
4,0.0,0.0,0.0,0.0,1.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
5,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000

In [19]:
X_train, X_test = train_test_split(user_movie_matrix, train_size=0.8)

In [20]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

WARNING:tensorflow:From C:\Users\Son\anaconda3\envs\tf_env\lib\site-packages\tensorflow_core\python\compat\v2_compat.py:88: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [21]:
num_input = ur20plus['title'].nunique()
n_nodes_inpl = num_input  
n_nodes_hl1  = 256  
n_nodes_outl = num_input  
hidden_1_layer_vals = {'weights':tf.Variable(tf.random_normal([n_nodes_inpl+1,n_nodes_hl1]))}
output_layer_vals = {'weights':tf.Variable(tf.random_normal([n_nodes_hl1+1,n_nodes_outl]))}

In [22]:
input_layer = tf.placeholder('float', [None, num_input])
# add a constant node to the first layer
# it needs to have the same shape as the input layer for me to be
# able to concatinate it later
input_layer_const = tf.fill( [tf.shape(input_layer)[0], 1] ,1.0  )
input_layer_concat =  tf.concat([input_layer, input_layer_const], 1)
# multiply output of input_layer wth a weight matrix 
layer_1 = tf.nn.sigmoid(tf.matmul(input_layer_concat,hidden_1_layer_vals['weights']))
# adding one bias node to the hidden layer
layer1_const = tf.fill( [tf.shape(layer_1)[0], 1] ,1.0  )
layer_concat =  tf.concat([layer_1, layer1_const], 1)
# multiply output of hidden with a weight matrix to get final output
output_layer = tf.matmul( layer_concat,output_layer_vals['weights'])
# output_true shall have the original shape for error calculations
output_true = tf.placeholder('float', [None, num_input])
# define our cost function
meansq =    tf.reduce_mean(tf.square(output_layer - output_true))
# define our optimizer
learn_rate = 0.1   # how fast the model should learn
optimizer = tf.train.AdagradOptimizer(learn_rate).minimize(meansq)

WARNING:tensorflow:From C:\Users\Son\anaconda3\envs\tf_env\lib\site-packages\tensorflow_core\python\training\adagrad.py:76: calling Constant.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [23]:
init = tf.global_variables_initializer()
sess = tf.Session()
sess.run(init)
# defining batch size, number of epochs and learning rate
batch_size = 100  # how many images to use together for training
hm_epochs =200    # how many times to go through the entire dataset
tot_images = X_train.shape[0] # total number of images

In [38]:
for epoch in range(hm_epochs):
    epoch_loss = 0    # initializing error as 0
    
    for i in range(int(tot_images/batch_size)):
        epoch_x = X_train[ i*batch_size : (i+1)*batch_size ]
        _, c = sess.run([optimizer, meansq],\
               feed_dict={input_layer: epoch_x, \
               output_true: epoch_x})
        epoch_loss += c
        
    output_train = sess.run(output_layer,\
               feed_dict={input_layer:X_train})
    output_test = sess.run(output_layer,\
                   feed_dict={input_layer:X_test})
    if not 10 < epoch < 190: # print out some trainings 
        print('MSE train', MSE(output_train, X_train),'MSE test', MSE(output_test, X_test))      
        print('Epoch', epoch, '/', hm_epochs, 'loss:',epoch_loss)
        if epoch == 10:
          print('--------------------------------------------------------')

MSE train 1.357860985980527 MSE test 2.8567766261047316
Epoch 0 / 200 loss: 4.784345269203186
MSE train 1.355530579107679 MSE test 2.8542279224168747
Epoch 1 / 200 loss: 4.7752954959869385
MSE train 1.3532043539903302 MSE test 2.8516874267936667
Epoch 2 / 200 loss: 4.766271471977234
MSE train 1.3508827945607658 MSE test 2.8491555917333526
Epoch 3 / 200 loss: 4.757273554801941
MSE train 1.348566744549607 MSE test 2.8466327935231974
Epoch 4 / 200 loss: 4.748301863670349
MSE train 1.346257285283419 MSE test 2.844119624567915
Epoch 5 / 200 loss: 4.739359498023987
MSE train 1.343955562291062 MSE test 2.8416168831762962
Epoch 6 / 200 loss: 4.730448365211487
MSE train 1.341662689938997 MSE test 2.839125149545447
Epoch 7 / 200 loss: 4.721571087837219
MSE train 1.3393794486035973 MSE test 2.836645088160082
Epoch 8 / 200 loss: 4.7127310037612915
MSE train 1.3371063490949278 MSE test 2.8341771111542915
Epoch 9 / 200 loss: 4.703928709030151
MSE train 1.3348434730928649 MSE test 2.831721136535975
Epoch 10 / 200 loss: 4.695164442062378
--------------------------------------------------------
MSE train 1.0020558984104293 MSE test 2.4575658030977605
Epoch 190 / 200 loss: 3.3770901560783386
MSE train 1.000782324784927 MSE test 2.4562482006009794
Epoch 191 / 200 loss: 3.37194561958313
MSE train 0.9995115805823024 MSE test 2.4549342823258624
Epoch 192 / 200 loss: 3.366811454296112
MSE train 0.9982439969880077 MSE test 2.4536242804881825
Epoch 193 / 200 loss: 3.3616880774497986
MSE train 0.9969799318005407 MSE test 2.4523180757971215
Epoch 194 / 200 loss: 3.356577515602112
MSE train 0.9957197876368925 MSE test 2.4510158722624373
Epoch 195 / 200 loss: 3.351481318473816
MSE train 0.9944640030574006 MSE test 2.449717686325744
Epoch 196 / 200 loss: 3.3464014530181885
MSE train 0.9932130060982676 MSE test 2.448423566796357
Epoch 197 / 200 loss: 3.341339409351349
MSE train 0.9919672113917924 MSE test 2.447133542678235
Epoch 198 / 200 loss: 3.3362975120544434
MSE train 0.9907270368582701 MSE test 2.445847790062182
Epoch 199 / 200 loss: 3.331277847290039

In [25]:
pred_data = pd.DataFrame()
preds = sess.run(output_layer, feed_dict={input_layer: user_movie_matrix})
pred_data = pred_data.append(pd.DataFrame(preds))
pred_data = pred_data.stack().reset_index(name='rating')
pred_data.columns = ['userId', 'title', 'rating']
users = user_movie_matrix.index.tolist()
movies = user_movie_matrix.columns.tolist()
pred_data['userId'] = pred_data['userId'].map(lambda value: users[value])
pred_data['title'] = pred_data['title'].map(lambda value: movies[value])
keys = ['userId', 'title']
index_1 = pred_data.set_index(keys).index
index_2 = ur20plus.set_index(keys).index
top_ten_ranked = pred_data[~index_1.isin(index_2)]
top_ten_ranked = top_ten_ranked.sort_values(['userId', 'rating'], ascending=[True, False])
top_ten_ranked = top_ten_ranked.groupby('userId').head(10)

In [26]:
top_ten_ranked.loc[top_ten_ranked['userId'] == 9999999]

         userId                       title    rating
734882  9999999         Moulin Rouge (2001)  7.718495
734895  9999999    Muppet Movie, The (1979)  7.203319
734115  9999999           27 Dresses (2008)  6.766900
734359  9999999    Coming to America (1988)  6.603421
734615  9999999            Halloween (1978)  6.146989
735012  9999999     Punch-Drunk Love (2002)  6.144840
734829  9999999            Mask, The (1994)  5.930156
734128  9999999           Abyss, The (1989)  5.765881
735155  9999999  Social Network, The (2010)  5.701007
735118  9999999       She's All That (1999)  5.588261

In [27]:
ur20plus = ur20plus.append(pd.DataFrame([["Hulk (2003)",1,9999991,4370,5,"genre",1]], columns =ur20plus.columns), ignore_index=True)
scaler = MinMaxScaler()
ur20plus['rating'] = ur20plus['rating'].values.astype(float)
rating_scaled = pd.DataFrame(scaler.fit_transform(ur20plus['rating'].values.reshape(-1,1)))
ur20plus['rating'] = rating_scaled
ur20plus = ur20plus.drop_duplicates(['userId', 'title'])
user_movie_matrix = ur20plus.pivot(index='userId', columns='title', values='rating')
user_movie_matrix.fillna(0, inplace=True)

In [28]:
pred_data = pd.DataFrame()
preds = sess.run(output_layer, feed_dict={input_layer: user_movie_matrix})
pred_data = pred_data.append(pd.DataFrame(preds))
pred_data = pred_data.stack().reset_index(name='rating')
pred_data.columns = ['userId', 'title', 'rating']
users = user_movie_matrix.index.tolist()
movies = user_movie_matrix.columns.tolist()
pred_data['userId'] = pred_data['userId'].map(lambda value: users[value])
pred_data['title'] = pred_data['title'].map(lambda value: movies[value])
keys = ['userId', 'title']
index_1 = pred_data.set_index(keys).index
index_2 = ur20plus.set_index(keys).index
top_ten_ranked = pred_data[~index_1.isin(index_2)]
top_ten_ranked = top_ten_ranked.sort_values(['userId', 'rating'], ascending=[True, False])
top_ten_ranked = top_ten_ranked.groupby('userId').head(10)

In [29]:
top_ten_ranked.loc[top_ten_ranked['userId'] == 9999991]

         userId                              title    rating
735155  9999991         Social Network, The (2010)  9.046429
734733  9999991                       K-PAX (2001)  7.332624
735391  9999991  Zack and Miri Make a Porno (2008)  7.149515
735270  9999991                Time Bandits (1981)  6.975931
734515  9999991           Finding Forrester (2000)  6.863437
735298  9999991            Transporter, The (2002)  6.795836
734510  9999991          Fifth Element, The (1997)  6.762701
734719  9999991               Jerry Maguire (1996)  6.592289
734958  9999991              Pay It Forward (2000)  6.582867
735022  9999991                      Ransom (1996)  6.562386

In [30]:
user_movie_matrix.tail()

title,(500) Days of Summer (2009),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),13 Going on 30 (2004),"13th Warrior, The (1999)",1408 (2007),2001: A Space Odyssey (1968),2012 (2009),...,Young Frankenstein (1974),Young Guns (1988),Zack and Miri Make a Porno (2008),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),Â¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
608,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.111111,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.111111,0.000000,0.177778,0.133333,0.0
609,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
610,0.133333,0.0,0.0,0.0,0.0,0.0,0.0,0.155556,0.177778,0.111111,...,0.0,0.0,0.133333,0.2,0.133333,0.155556,0.155556,0.000000,0.066667,0.0
9999991,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
9999999,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0

In [31]:
ur20plus = ur20plus.append(pd.DataFrame([["Wild Wild West (1999)",1,9999995,900000000,5,"genre",1]], columns =ur20plus.columns), ignore_index=True)
scaler = MinMaxScaler()
ur20plus['rating'] = ur20plus['rating'].values.astype(float)
rating_scaled = pd.DataFrame(scaler.fit_transform(ur20plus['rating'].values.reshape(-1,1)))
ur20plus['rating'] = rating_scaled
ur20plus = ur20plus.drop_duplicates(['userId', 'title'])
user_movie_matrix = ur20plus.pivot(index='userId', columns='title', values='rating')
user_movie_matrix.fillna(0, inplace=True)
pred_data = pd.DataFrame()
preds = sess.run(output_layer, feed_dict={input_layer: user_movie_matrix})
pred_data = pred_data.append(pd.DataFrame(preds))
pred_data = pred_data.stack().reset_index(name='rating')
pred_data.columns = ['userId', 'title', 'rating']
users = user_movie_matrix.index.tolist()
movies = user_movie_matrix.columns.tolist()
pred_data['userId'] = pred_data['userId'].map(lambda value: users[value])
pred_data['title'] = pred_data['title'].map(lambda value: movies[value])
keys = ['userId', 'title']
index_1 = pred_data.set_index(keys).index
index_2 = ur20plus.set_index(keys).index
top_ten_ranked = pred_data[~index_1.isin(index_2)]
top_ten_ranked = top_ten_ranked.sort_values(['userId', 'rating'], ascending=[True, False])
top_ten_ranked = top_ten_ranked.groupby('userId').head(10)

In [32]:
top_ten_ranked.loc[top_ten_ranked['userId'] == 9999995]

         userId                                         title    rating
736199  9999995  My Neighbor Totoro (Tonari no Totoro) (1988)  8.453749
736452  9999995                    Social Network, The (2010)  8.029883
735821  9999995                       Fisher King, The (1991)  8.011931
736342  9999995                      Road to Perdition (2002)  8.006321
735807  9999995                     Fifth Element, The (1997)  7.984584
736319  9999995                                 Ransom (1996)  7.920057
736297  9999995                         Pretty in Pink (1986)  7.683403
735523  9999995                         Before Sunrise (1995)  7.591281
736539  9999995                   The Butterfly Effect (2004)  7.539037
735525  9999995                   Being John Malkovich (1999)  7.518471

In [33]:
ur20plus = ur20plus.append(pd.DataFrame([["Jerk, The (1979)",1,9999996,900000000,5,"genre",1]], columns =ur20plus.columns), ignore_index=True)
scaler = MinMaxScaler()
ur20plus['rating'] = ur20plus['rating'].values.astype(float)
rating_scaled = pd.DataFrame(scaler.fit_transform(ur20plus['rating'].values.reshape(-1,1)))
ur20plus['rating'] = rating_scaled
ur20plus = ur20plus.drop_duplicates(['userId', 'title'])
user_movie_matrix = ur20plus.pivot(index='userId', columns='title', values='rating')
user_movie_matrix.fillna(0, inplace=True)
pred_data = pd.DataFrame()
preds = sess.run(output_layer, feed_dict={input_layer: user_movie_matrix})
pred_data = pred_data.append(pd.DataFrame(preds))
pred_data = pred_data.stack().reset_index(name='rating')
pred_data.columns = ['userId', 'title', 'rating']
users = user_movie_matrix.index.tolist()
movies = user_movie_matrix.columns.tolist()
pred_data['userId'] = pred_data['userId'].map(lambda value: users[value])
pred_data['title'] = pred_data['title'].map(lambda value: movies[value])
keys = ['userId', 'title']
index_1 = pred_data.set_index(keys).index
index_2 = ur20plus.set_index(keys).index
top_ten_ranked = pred_data[~index_1.isin(index_2)]
top_ten_ranked = top_ten_ranked.sort_values(['userId', 'rating'], ascending=[True, False])
top_ten_ranked = top_ten_ranked.groupby('userId').head(10)

In [35]:
top_ten_ranked.loc[top_ten_ranked['userId'] == 9999996]

         userId                                              title    rating
737809  9999996                                    Superbad (2007)  9.086238
737616  9999996                                      Ransom (1996)  8.355295
737785  9999996  Star Wars: Episode III - Revenge of the Sith (...  8.329315
736895  9999996                               Bug's Life, A (1998)  7.983820
737118  9999996                            Fisher King, The (1991)  7.960881
737209  9999996                                   Halloween (1978)  7.768264
737219  9999996         Harry Potter and the Goblet of Fire (2005)  7.765704
737941  9999996                             Wayne's World 2 (1993)  7.673603
736882  9999996                                 Bridesmaids (2011)  7.596042
737790  9999996                                    Stardust (2007)  6.980186